# Konfigurasi Peserta Magang
PARTICIPANT_ID=your_participant_uuid_here

# Konfigurasi Telegram Bot Notifier
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

# Jam Operasional Pengiriman Notifikasi (Format 24 jam)
START_HOUR=12
END_HOUR=23

# Pengaturan API MagangHub Kemnaker (Opsional / Default)
LIMIT=100
MONEV_API_BASE=https://monev-api.maganghub.kemnaker.go.id/api/v1
FRONTEND_BUILD_ID=fdce5864ab936c3205233ffc340ba593c0136cd2-production
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36
